    /* Adding fonts */

    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

    /* Universal Element*/

    *{
      margin: 0;
      padding: 0;
    }

    /* Common Selector*/

    .container{
      max-width: 1140px;
      width: 90%;
      margin: 0 auto;
    }



    /* Header Section Start*/

    #header{
      display: flex;
      justify-content: space-between;
    }

    .heading{
      margin-top: 50px;
      margin-left: 150px;
      font-weight: 800;
      font-size: 1.75rem;
    }

    .btn{ 
      margin-top: 38px;
      margin-right: 150px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: rgba(13, 19, 33, 1);
      border: 1px solid rgba(13, 19, 33, 1);
      padding: 17px 24px;
      width: 244px;
      border-radius: 8px;
      align-items: center;
      gap: 10;
      cursor: pointer;
    }

    .btn:hover{
      background: #0D1321;
      color: #ffffff;
      transition: 0.3s ease;
    }

    /* Header Section End*/

    /* Banner Section Start */

    #banner{
      height: 652px;
      background-image: url(./assets/Hero-bg.png);
      margin-top: 30px;
    }

    .banner-description{
      width: 998px;
      height: 581px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .banner-description .banner-img{
       margin-top: 26px;
       margin-bottom: 32px;
    }

    .banner-description .banner-heading{
      color: rgba(13, 19, 33, 1);
      font-size: 48px;
      font-weight: 800;
      line-height: 68px;
      text-align: center;
    }

    .banner-description .banner-description-text{
      opacity: 0.7;
      color: rgba(13, 19, 33, 1);
      font-weight: 400;
      line-height: 26px;
      text-align: center;
    }

    .banner-description .btn-2{
      margin-top: 32px;
      margin-bottom: 45px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      background: rgba(13, 19, 33, 1);
      color: #FFFFFF;
      border: 1px solid rgba(13, 19, 33, 1);
      padding: 21px 24px;
      width: 244px;
      border-radius: 8px;
      align-items: center;
      gap: 10;
      cursor: pointer;
    }

    .btn-2:hover {
      background: transparent;
      color:#0D1321 ;
      transition: 0.3s ease;
    }

      /* Banner Section End */

      /* Why-Web-Dev Section start */

    #why-web-dev{
      margin-top: 50px; 
      background: rgba(13, 19, 33, 0.02);
    }

    #why-web-dev .why-web-dev-content{
      padding: 50px 97px;
      border: 16px;
    }

    .why-web-dev-content .why-web-deb-description{
      width: 852px;
      height: 113px;
      text-align: center;
      padding: 48px;
      border: 16px;
    }

    .why-web-deb-description .heading{
      color: #0D1321;
      line-height: 37px;
      margin-bottom: 20px;
    }
    
    .why-web-deb-description .description-text{
      line-height: 26px;
      font-weight: 400px;
      opacity: 0.7;
      color: rgba(13, 19, 33, 1);
      margin-bottom: 48px;
    }

    .card{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      padding: 48px;
      background: #fff;
      border-radius: 16px;
    }

    .card-1, .card-3{
      flex-direction: row;
    }

    .card-2{
      flex-direction: row-reverse;
    }

    .card-text{
      max-width: 520px;
    }

    .card-text h2{
      margin-bottom: 16px;
    }

    .card-text p{
      margin-bottom: 24px;
      opacity: 0.7;
    }

    .learn {
      padding: 8px 18px;
      border: 1px solid rgba(13, 19, 33, 0.6);
      background: transparent;
      border-radius: 6px;

      font-size: 16px;
      font-weight: 500;
      color: #0D1321;

      cursor: pointer;
    }

    .learn:hover {
      background: #0D1321;
      color: #ffffff;
      transition: 0.3s ease;
    }

      /* Why-Web-Dev Section End */


      /* My-Current-target Section Start */

    #current-target{
      width: 1140px;
      height: 460px;
      margin-top: 150px;
      margin-bottom: 110px;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #current-target .current-target-description{
      width: 852px;
      height: 132px;
      margin-bottom: 48px;
    }

    #current-target .current-target-description .current-target-heading{
      color: rgba(13, 19, 33, 1);
      font-size: 32px;
      font-weight: 800;
      line-height: 37px;
      text-align: center;
      margin-bottom: 24px;
    }

    #current-target .current-target-description .current-target-text{
      opacity: 0.7;
      color: rgba(13, 19, 33, 1);
      line-height: 26px;
      text-align: center;
      margin-bottom: 48px;
    }

    #current-target .current-cards{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
    }

    #current-target .current-cards .current-card{
      width: 284px;
      height: 219px;
      padding: 20px 30px;
      border-radius: 16px;
      gap: 32px;
      align-items: center;
    }

    .current-card a{
      color: rgba(13, 19, 33, 1);
      text-decoration: none;
      font-weight: 700;
    }

    .current-cards .card-1{
      background: rgba(255, 76, 30, 0.05);  
    }

    .current-cards .card-2{
      background: rgba(0, 76, 232, 0.05);  
    }

    .current-cards .card-3{
      background: rgba(255, 223, 0, 0.05);  
    }

    .current-cards .card-1 h1{
      color: rgba(13, 19, 33, 1);
      font-size: 24px;
      font-weight: 800;
      line-height: 36px;
      margin-bottom: 8px;
    }

    .current-cards .card-2 h1{
      color: rgba(13, 19, 33, 1);
      font-size: 24px;
      font-weight: 800;
      line-height: 36px;
      margin-bottom: 8px;
    }

    .current-cards .card-3 h1{
      color: rgba(13, 19, 33, 1);
      font-size: 24px;
      font-weight: 800;
      line-height: 36px;
      margin-bottom: 8px;
    }

    .current-cards .card-1 p{
      width: 284px;
      height: 52px;
      opacity: 0.7;
      color: rgba(13, 19, 33, 1);
      margin-bottom: 24px;
    }

    .current-cards .card-2 p{
      width: 284px;
      height: 52px;
      opacity: 0.7;
      color: rgba(13, 19, 33, 1);
      margin-bottom: 24px;
    }

    .current-cards .card-3 p{
      width: 350px;
      height: 52px;
      opacity: 0.7;
      color: rgba(13, 19, 33, 1);
      margin-bottom: 26px;
    }


      /* My-Current-target Section Start */
  

  