    /* Adding fonts */

    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

    /* Universal Element*/

    *{
      margin: 0;
      padding: 0;
    }

    /* Common Selector*/

    .container{
      max-width: 1140px;
      width: 90%;
      margin: 0 auto;
    }


    /* Header Section Start*/

    #header{
      display: flex;
      justify-content: space-between;
    }

    .heading{
      margin-top: 50px;
      margin-left: 150px;
      font-weight: 800;
      font-size: 1.75rem;
    }

    .btn{ 
      margin-top: 38px;
      margin-right: 150px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: rgba(13, 19, 33, 1);
      border: 1px solid rgba(13, 19, 33, 1);
      padding: 17px 24px;
      width: 244px;
      border-radius: 8px;
      align-items: center;
      gap: 10;
    }

    /* Header Section End*/

    