    /* Adding fonts */

    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

    /* Universal Element*/

    *{
      margin: 0;
      padding: 0;
    }

    /* Common Selector*/

    .container{
      max-width: 1140px;
      width: 90%;
      margin: 0 auto;
    }


    /* Header Section Start*/

    #header{
      display: flex;
      justify-content: space-between;
    }

    .heading{
      margin-top: 50px;
      margin-left: 150px;
      font-weight: 800;
      font-size: 1.75rem;
    }

    .btn{ 
      margin-top: 38px;
      margin-right: 150px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: rgba(13, 19, 33, 1);
      border: 1px solid rgba(13, 19, 33, 1);
      padding: 17px 24px;
      width: 244px;
      border-radius: 8px;
      align-items: center;
      gap: 10;
    }

    /* Header Section End*/

    /* Banner Section Start */

    #banner{
      height: 652px;
      background-image: url(./assets/Hero-bg.png);
      margin-top: 30px;
    }

    .banner-description{
      width: 998px;
      height: 581px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .banner-description .banner-img{
       margin-top: 26px;
       margin-bottom: 32px;
    }

    .banner-description .banner-heading{
      color: rgba(13, 19, 33, 1);
      font-size: 48px;
      font-weight: 800;
      line-height: 68px;
      text-align: center;
    }

    .banner-description .banner-description-text{
      opacity: 0.7;
      color: rgba(13, 19, 33, 1);
      font-weight: 400;
      line-height: 26px;
      text-align: center;
    }

    .banner-description .btn-2{
      margin-top: 32px;
      margin-bottom: 45px;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      background: rgba(13, 19, 33, 1);
      color: #FFFFFF;
      border: 1px solid rgba(13, 19, 33, 1);
      padding: 21px 24px;
      width: 244px;
      border-radius: 8px;
      align-items: center;
      gap: 10;
    }

      /* Banner Section End */

  

  